<ul class="nav side-menu">
    <!-- Main menu -->
    <li class="{{#ifEq active 'Borrador' }}current-page{{/ifEq}}"><a href="/estudio/get/?status=Borrador" id="show-borrador"><i class="glyphicon glyphicon-file"></i> Borradores</a></li>
    <li class="{{#ifEq active 'Aprobado' }}current-page{{/ifEq}}"><a href="/estudio/get/?status=Aprobado"><i class="glyphicon glyphicon-thumbs-up"></i> Aprobados</a></li>
    <li class="{{#ifEq active 'Rechazado' }}current-page{{/ifEq}}"><a href="/estudio/get/?status=Rechazado"><i class="glyphicon glyphicon-thumbs-down"></i> Rechazados</a></li>
    <li class="{{#ifEq active 'Revisión' }}current-page{{/ifEq}}"><a href="/estudio/get/?status=Revisión"><i class="glyphicon glyphicon-eye-open"></i> Revisión</a></li>
    <li class="{{#ifEq active 'Eliminado' }}current-page{{/ifEq}}"><a href="/estudio/get/?status=Eliminado" id="show-deleted"><i class="glyphicon glyphicon-trash"></i> Eliminado</a></li>
</ul>
