<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Total Egresos</th>
      <th>Total Ingresos</th>
      <th>Déficit / Superávit</th>
    </tr>
  </thead>


  <tbody>
    <tr class="">
      <td>${{ this.outcomeAmount }} MXN</td>
      <td>${{ this.incomeAmount }} MXN</td>
      <td>${{ this.status }} MXN</td>
    </tr>
  </tbody>
</table>