<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <!-- Logo -->
                <div class="logo col-xs-6">
                    <!-- <img src="/img/logo.png" class="brand-logo" id="main-logo"> -->
                    <h1 class="white-text">San Juan Pablo II</h1>
                </div>
                <div class="col-xs-6" id="home-btn">
                    <a href="/user/dashboard" class="btn btn-primary pull-right">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
