<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  
  <body>  
    <div>
      {{> nav}}
      <div class="page-content" id="main-content">
        <div class="row">
          <div class="col-md-2">
            {{> sidenav }} 
          </div>
          <h1>Hola {{user.username}}</h1>
          <button class="btn btn-primary" id="estudios-btn">Estudios</button>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
      <!--Import jQuery before materialize.js-->
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="/js/renderer.js"> </script>
  </body>
</html>
        