<!DOCTYPE html>
  <html>
    <head>
      {{> head}}
    </head>

    <body>
      <div class="page-content container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
              <div class="box">
                <div class="content-wrap">
                  <img src="/img/logo.png" class="brand-logo" id="main-logo">
                  <h6 id="iniciar">Algo salió mal</h6>
                  <div class="action">
                    <a href="/user/dashboard" class="btn btn-primary signup">Regresar a Home</a>
                  </div>
                </div>
              </div>
              {{#if msg}}
                <h4>{{msg}}</h4>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{> scripts }}
      <script src="/js/error.js"> </script>
    </body>
  </html>
