<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <link type="text/css" rel="stylesheet" href="/css/dateTime.min.css"/>
  </head>
  
  <body>  
    <div>
      {{> nav}}
      <div class="page-content container" id="main-content">
        <div class="row">
         {{!--  <div class="col-sm-2">
            {{> sidenav }} 
          </div> --}}
          <div class="col-sm-12">
            <button class="btn btn-warning pull-right" id="estudios-btn">Recargar</button>
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-xs-12">
              <h1>Familias</h1>
              <div class="col-xs-10 col-xs-offset-1 well">
                <form id="familySection">
                  <div id="family-wrapper">
                    <button id="add-family-input" class="btn btn-primary">Agregar</button>
                    <div class="row">
                      <div class="form-group col-xs-2">
                        <label for="firstName">Nombre</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Nombre">
                      </div>
                      <div class="form-group col-xs-2">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Apellido">
                      </div>
                      <div class="form-group col-xs-2">
                        <label for="age">Edad</label>
                        <input type="text" class="form-control" id="age" placeholder="Edad">
                      </div>
                      <div class="form-group col-xs-1">
                        <label for="gender">Sexo</label>
                        <select class="form-control" id="gender">
                          <option></option>
                          <option value="M">M</option>
                          <option value="F">F</option>
                        </select>
                      </div>
                      <div class="col-xs-3 form-group">
                        <div id="datetimepicker4" class="input-group">
                          <label for="birthDate">Fecha de nacimiento</label>
                          <div class="input-group">
                            <span class="input-group-addon add-on" id="basic-addon1">
                              <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" data-format="yyyy-MM-dd" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
      <!--Import jQuery before materialize.js-->
      <script src="/jquery/jquery.js"></script>
      <script src="/js/dateTime.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="/js/renderer.js"> </script>
  </body>
</html>
        