<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  
  <body>  
    <div>
      {{> nav}}
      <div class="page-content" id="main-content">
        <div class="row">
         {{!--  <div class="col-sm-2">
            {{> sidenav }} 
          </div> --}}
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <h1>Hola {{user.username}}</h1>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-warning pull-right" id="estudios-btn">Recargar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
      <!--Import jQuery before materialize.js-->
      <script src="/jquery/jquery.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="/js/renderer.js"> </script>
  </body>
</html>
        