<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="login-bg">  
    <div>
      {{> nav}}
      <div class="row container" id="main-content">
        <div class="col s6">
          <a href="/login">Iniciar sesión</a>
        </div>
        <div class="col s6">
          <a href="/create">Crear usuario</a>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/renderer.js"> </script>
  </body>
</html>
        