{{#>  layouts/base_dashboard page_title="Captura de Estudios" which_side="sideNavPasos" }}
{{#*inline "panel-block"}}
{{#if error_message}}
  <div class="alert alert-danger">
    <span id="error_message"><strong>{{error_message}}</strong></span>
  </div>
{{/if}}
<div class="row">
<br>
<br>
<br>
<div class="col-xs-12">
  <h1>Fotos de la Vivienda</h1>
  <div class="col-xs-12 well">
    <form id="photoForm" method="post" action="/vivienda/add/?estudioId={{estudioId}}" data-toggle="validator">
      <div class="row">
  	     <a id="btn_modal_upload_photo" class="mouseClick btn btn-primary pull-right" data-toggle="modal" data-target="#modal_upload_foto">
  	        <i class="glyphicon glyphicon-plus"></i>
  	        <i class="glyphicon glyphicon-camera"></i>
  	        Agregar Foto
  	     </a>
       </div>
    </form>
  </div>
</div>
</div>
{{/inline}}
{{#*inline "scripts-block"}}
<script src="/js/dateTime.min.js"></script>
<script src="/js/validator.min.js"> </script>
{{/inline}}

{{/ layouts/base_dashboard}}
