{{#>  layouts/base_dashboard page_title="Captura de Estudios" which_side="sideNavPasos" }}
{{#*inline "panel-block"}}
{{#if error_message}}
  <div class="alert alert-danger">
    <span id="error_message"><strong>{{error_message}}</strong></span>
  </div>
{{/if}}
<div class="row">
<br>
<br>
<br>
<div class="col-xs-12">
  <h1>Fotos de la Vivienda</h1>
  <div class="col-xs-12 well">
    <div class="row">
      <a class="btn btn-primary pull-right" id="add-image-button" data-toggle="modal" href="#imageModal" data-member="">
        <i class="glyphicon glyphicon-plus"></i>
  	    <i class="glyphicon glyphicon-camera"></i>
  	    Agregar Foto
  	  </a>
      <div class="x_panel">
        <div class="x_content">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a href="/transactions" class="btn btn-danger">
    <i class="glyphicon glyphicon-arrow-left"></i>Ingresos y Egresos
  </a>
  <a href="/seccion/paso/1" class="btn btn-danger">
    Preguntas <i class="glyphicon glyphicon-arrow-right"></i>
  </a>
</div>
</div>
{{!-- modals --}}
{{> addImageModal }}
{{/inline}}
{{#*inline "scripts-block"}}
<script src="/js/dateTime.min.js"></script>
<script src="/js/validator.min.js"> </script>
{{/inline}}

{{/ layouts/base_dashboard}}
