<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head page_title='Juan Pablo II Login' }}
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signin">
        <h2>
          Instituto Juan Pablo Segundo
        </h2>
      </a>
      
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <div class="row text-center">
              <h1>Iniciar Sesion</h1>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <img src="/img/logo.png" class="brand-logo img-responsive center-block" style="max-height: 200px" id="main-logo">
              </div>
            </div>
            <form id="login-form" method="post" action="/user/login" class="form-group">
                
                {{#if error_message}}
                  <div class="alert alert-danger">
                    <span id="error_message"><strong>{{error_message}}</strong></span>
                  </div>
                {{/if}}

                <div class="form-group">
                  <label for="formUser">Usuario</label>
                  <input class="form-control" type="text" placeholder="Nombre de Usuario" required name="username" id="username">
                </div>

                <div class="form-group">
                  <label for="formPassword">Contraseña</label>
                  <input class="form-control" type="password" placeholder="Contraseña" required name="password" id="password">

                </div>


                <div class="form-group row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <div class="action">
                        <button class="btn btn-primary signup" id="submit-login" type="submit">Iniciar sesión</button>
                    </div>
                  </div>
                </div>
            </form>
          </section>
        </div>

      </div>
    </div>
    {{> scripts }}
  </body>
</html>

