<!DOCTYPE html>
  <html>
    <head>
      {{> head}}
    </head>
    
    <body>  
      <div>
        {{> nav}}
        <div class="row container" id="main-content">
          <div class="col s12">
            <h1>{{title}}</h1>
            {{#if msg}}
              <h4>{{msg}}</h4>
            {{/if}}
            <form class="col s12" id="login-form" method="post" action="/user/login">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" required name="email">
                  <label for="email">Correo eléctronico</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" required name="password">
                  <label for="password">Contraseña</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit">Registrar
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>

      </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="/js/materialize.min.js"></script>
      <script src="/js/renderer.js"> </script>
    </body>
  </html>
        